extends ../../components/layout-shop

block title
	title 惠民物资库

block hdQuote
	link(rel="stylesheet", href="../../css/shops/list.styl")

block ctn

	.wrap
		ul.shopList
			li.shopList-item
				a
					div.shopList-item-wrap
						div
							img.shopList-item-thumb(src="../../images/shops/shop01.png")
						div.shopList-item-main
							p.shopList-item-name 荷兰婴幼儿奶粉
							p.shopList-item-intro 科学配方三行字,科学配方三行字,科学配方三行字,科学配方三行字,科学配方三行字,科学配方三行字,科学配方三行字,科学配方三行字,科学配方三行字,科学配方三行字,科学配方三行字,
							div.shopList-item-info
								span.shopList-item-cheapPrice 139元
								del.shopList-item-fullPrice 219元
								span.shopList-item-people 69/100人
			li.shopList-item
				a
					div.shopList-item-wrap
						div
							img.shopList-item-thumb(src="../../images/shops/shop01.png")
						div.shopList-item-main
							p.shopList-item-name 荷兰婴幼儿奶粉
							p.shopList-item-intro 科学配方三行字,科学配方三行字,科学配方三行字,科学配方三行字,科学配方三行字,科学配方三行字,科学配方三行字,
							div.shopList-item-info
								span.shopList-item-cheapPrice 139元
								del.shopList-item-fullPrice 219元
								span.shopList-item-people 69/100人

block ftQuote
