doctype html
html(lang='zh-CN')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
		title 图书分类
		script(src="..//lib/flexible.js")
		link(rel="stylesheet", href="../css/common.styl")
		link(rel="stylesheet", href="../css/book-classes.styl")
	body

		img.book-classes-banner(src="../images/books/banner.png")

		#app
			ul.book-classes
				li.book-classes-item(v-for="(item,index) in classes")
					img.book-classes-icon(:src="'../images/books/'+(index+1)+'.png'")
					a(:href="'book-list.html?id='+item.id") {{item.name == '两性生活' ? '情感生活' : item.name == '修养心里' ? '修养心理' : item.name }}
					
		div.book-classes-slogan
			img(src="../images/books/slogan.png")


		script(src="../lib/zepto.min.js")
		script(src="../lib/vue.js")
		script(src="../js/book-classes.js")
