doctype html
html(lang='zh-CN')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
		title 社区信息
		script(src="../lib/flexible.js")
		link(rel="stylesheet", href="../css/common.styl")
		link(rel="stylesheet", href="../css/callCommunity.styl")
	body

		img(src="../images/banner.png").banner

		.wrap
			img.logo(src="../images/title-cg.png")
			div.text 
				p 水果湖街茶港社区位于省委、省政府所在地，东起洪山路、南临天鹅路、西接八一路、北连东三路，是由茶港社区、小洪山工作站、科苑工作站共同组建而成的新型混合型社区，社区总面积0.76平方公里，常住人口总户数：5416户，常住人口总数：13540人。辖区内有省机关事务管理局、省审计厅、省物价局、团省委、中科院武汉分院、湖北省地震局、省自动化研究所等21个省直单位和科研单位。人口结构95%为省直机关干部和科研人员，辖区居民特点为：素质高、收入高、学历高。
				p 社区共设有18个网格，党总支下设六个网格党支部，现有直管党员284名。社区党总支围绕街党工委“三进三促”文件精神，成立了包括社区党总支、社区居民委员会、社区民警、驻区单位、物业、业主委员会、社会组织等12人的社区大党委及居务监督委员会，并构建了由137人的网格服务团队组成的四级构架党组织网络，充实了三长三员队伍，力求夯实基层党组织基础，在社区党组织引领下开展各类惠民服务。
				p 目前，茶港社区秉承“智慧茶港 精准服务”的服务理念，开设微信公众服务平台，实行点对点精准信息推送服务、实时惠民政策信息发布、政务预约服务、企业链接服务、精准扶贫服务、志愿招募与开展服务、积分兑换服务等等，根据居民需求开展各种不同类型的主题活动，让茶港社区的文化与教育活动成为一道靓丽的风景线，让茶港社区的居民乐享生活。

			a.call(href="#") 联系社区
