doctype html
html(lang='zh-CN')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
		title 一键呼叫
		script(src="../lib/flexible.js")
		link(rel="stylesheet", href="../css/common.styl")
		link(rel="stylesheet", href="../css/one-call.styl")
	body


		img.call-bg(src="../images/callbg.png")

		div.call-wrap
			h1.call-title 社区便民服务 一键呼

			ul.call-tags
				li.call-tags-item 惠民价格
				li.call-tags-item 优质服务
				li.call-tags-item 流程简单
				li.call-tags-item 平台保障

			a.call-btn 一键呼叫