doctype html
html(lang='zh-CN')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
		title 便民服务
		script(src="../lib/flexible.js")
		link(rel="stylesheet", href="../css/common.styl")
		link(rel="stylesheet", href="../css/grid.styl")
	body

		ul.grid-list
			each item,index in ['家政', '教育', '养老', '娱乐', '其他']
				li.grid-list-item
					a(href="#")
						img(src="../images/care"+(index+1)+'.png')
						p=item

		.care-one-call
			a 一键呼叫