doctype html
html(lang='zh-CN')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
		title 保姆
		script(src="../lib/flexible.js")
		link(rel="stylesheet", href="../css/common.styl")
		link(rel="stylesheet", href="../css/care-detail.styl")
	body

		div.detail-wrap
			// 使用内联样式覆盖原图 style="background-image: url('img.png')"
			div.detail-banner
			div.detail-info-wrap
				h1.detail-title 正规 贴心
				p.detail-intro 专业育婴师、月嫂、老人陪护、病人陪护，随时服务社区

			div.oneTouchCall
				a.oneTouchCall-btn(href="tel:balabala") 一键呼叫

			div.tac
				a.viewMore 查看社区认证服务商