doctype html
html(lang='zh-CN')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
		title 生活导航
		script(src="../lib/flexible.js")
		link(rel="stylesheet", href="../css/common.styl")
		link(rel="stylesheet", href="../css/grid.styl")
	body

		ul.grid-list
			each item,index in ['头条', '工商', '医疗', '天气', '空气指数', '快递查询', '代驾']
				li.grid-list-item
					a(href="#")
						img(src="../images/life"+(index+1)+'.png')
						p=item