doctype html
html(lang='zh-CN')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
		title 生活导航
		script(src="../lib/flexible.js")
		link(rel="stylesheet", href="../css/common.styl")
		link(rel="stylesheet", href="../css/lifeNav.styl")
	body

		img.lifeNav-header(src="../images/lifeNav-bg.png")

		ul.lifeNav-list
			each item,index in ['停车场','头条', '工商', '医疗', '天气', '空气指数', '快递查询', '代驾', '医药查询', '历史上的今天', '附近店铺']
				li.lifeNav-list-item
					a(href="#")
						img(src="../images/lifeNav"+(index+1)+'.png')
						p=item