doctype html
html(lang='zh-CN')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
		title 政务服务
		script(src="../lib/flexible.js")
		link(rel="stylesheet", href="../css/common.styl")
		link(rel="stylesheet", href="../css/careAndOffice.styl")
	body

		img.office-header(src="../images/office-bg.png")

		ul.office-list
			each item,index in ['社会保障', '卫生人口', '弱势群体', '党员服务', '其他']
				li
					a(href="#")
						img.icon(src="../images/office"+(index+1)+'.png')
						p=item

		.office-oneTouchCall
			a(href="#") 政务转接

		div.office-wrap
			h2.office-msg 让群众好办事 为群众办好事