doctype html
html(lang='zh-CN')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
		title 天气
		script(src="../lib/flexible.js")
		link(rel="stylesheet", href="../css/common.styl")
		link(rel="stylesheet", href="../css/weather.styl")
	body

		.wrap
			.header
				.temp
					div.temp-low
						p 03°
						p 低温
					div.temp-line 
						span.temp-line-left
						span 今天
						span.temp-line-right
					div.temp-height
						p 12°
						p 高温

			.ctn
				div.ctn-weather
					img(src="../images/weather-xy.png")
					p 中雨

				div.ctn-temp 
					span 08
					span.point °

				div
					.ctn-date 12日 周一
					.ctn-city 武汉

			.footer
				ul.future
					each val in [1,2,3,4,5,6,7]
						li.future-item
							p 周日
							img(src="../images/weather-qt.png")
							p 晴
							p 2~6°




		script(src="../lib/zepto.min.js")
		//- script(src="../lib/vue.js")
		//- script(src="../js/weather.js")