.detail
	&-wrap
		position absolute
		width 100%
		height 100%
		overflow hidden
		display flex
		flex-direction column
	&-banner
		flex 1
		background-image url(../images/care-detail/03.png)
		background-repeat no-repeat
		background-size 100%
		background-position center

	&-info-wrap
		text-align center
		padding .8rem .2rem 0 .2rem
	&-title
		font-weight normal
		font-size .58rem
		margin-bottom .2rem
	&-intro
		font-size .22rem
		color #73798a

.oneTouchCall
	text-align center
	padding .7rem 0 .5rem
	&-btn
		display inline-block
		width 5.3rem
		height .96rem
		line-height .96rem
		text-align center
		color #fff !important
		font-size .36rem
		border-radius 6px
		background #ff624e

.viewMore
	display inline-block
	color #8dd4eb
	border-bottom 1px solid #8dd4eb
	font-size .24rem
	margin-bottom .3rem
