@import '../mixin'


.care
.office
	&-header
		headerImage()
		
	&-list
		grid()
		font-size 14px
		>li
			text-align center
		.icon
			width .50rem

	&-oneTouchCall
		btn()
		margin-top .9rem

	&-wrap
		text-align center
		margin-top .35rem

	&-msg
		font-size 16px
		margin-bottom .1rem
		font-weight normal

.care-tags
	text-align center
	margin-top 1rem
.care-tags-item
	display inline-block
	position relative
	padding 0 .15rem 0 .25rem
	list-style disc
	color #737a87
	font-size 13px
	
	&:after
		content ''
		position absolute
		width 4px
		height 4px
		background #737a87
		left 0
		top 50%
		margin-top -2px
		border-radius 50%