.gridmen
	&-list-item
		display flex
		padding .3rem .15rem
		align-items center
		border-bottom 1px solid #d9d9d9
		&:last-child
			border-bottom none
	&-avatar
		width .78rem
		height .78rem
		border-radius 50%
		margin-right .15rem
	&-info
		flex 1
	&-name
		color #010101
	&-identity
		color #666
		font-size 13px
	&-point
		font-size 18px
		margin 0 5px
	&-phone
		font-size 13px
		color #9e9e9e
	&-call
		width .9rem
		height .45rem
		line-height .46rem
		border-radius 4px
		color #17b6ed
		text-align center
		font-size .24rem
		border 1px solid #17b6ed
		&:hover
		&:active
			color #17b6ed