.grid-list
	margin 1rem .25rem 0 .25rem
	display flex
	flex-wrap wrap

	& &-item
		width 33.33%
		margin-bottom .7rem
		text-align center

		img
			width 1.4rem
			height 1.4rem
			margin-bottom .3rem

.care-one-call
	text-align center
	margin-top .5rem

	>a
		display inline-block
		width 2.4rem
		height .8rem
		line-height .8rem	
		border-radius 5px
		background #ff614e
		color #fff
		cursor pointer