.life-header
	display flex
	background #ededed
	align-items center
	padding .25rem

	& &-ctn
		margin 0 auto
		
	img
		width .55rem

.life-list
	margin 1rem .25rem 0 .25rem
	display flex
	flex-wrap wrap

	& &-item
		width 33.33%
		margin-bottom .7rem
		text-align center

		img
			width 1.4rem
			height 1.4rem
			margin-bottom .3rem