.shops-list-item
	display flex
	padding .2rem
	border-bottom 1px solid #f3f3f3
	&:last-child
		border-bottom none

.shops-thumb
	width 1.7rem
	height 1.3rem
	margin-right .2rem
	border-radius 5px

.shops-info
	flex 1
	padding-top .05rem
	color #000
	&-name
		font-weight normal
		font-size .28rem
		margin-bottom .09rem
	&-intro
		font-size .21rem
		margin-bottom .13rem

.shops-attr
	display flex
	align-items center
	font-size .24rem
.shops-classes
	margin-right auto
	color #8c8c8c
.shops-level-icon
	width .23rem
	margin-right .06rem
	position relative
	top .04rem