html
body
	height 100%

body
	color #fff
	background #728893
	background-image url(../images/weather-bg.jpg)
	background-size 100% 100%
	background-repeat no-repeat


.wrap
	padding 0 .3rem
	height 100%
	overflow hidden
	display flex
	flex-direction column

// .header 
.temp
	display flex
	padding .5rem 0	
	align-items center
	&-line
		flex 1
		display flex
		text-align center
		&-left
		&-right
			flex 1
			margin 0 15px
			border-bottom 1px solid #fff
			position relative
			top -12px
		&-left:before
		&-right:before
			position absolute
			content ''
			top 50%
			margin-top 8px
			width 8px
			height 8px
			border-radius 50%
			background #fff
			box-shadow 0 0 4px 4px #fff
		&-left:before
			left 0
		&-right:before
			right 0
	&-lou
	&-height
		font-size 14px

.ctn
	flex 1
	display flex
	flex-direction column
	// justify-content center
	align-items center
	&-weather
		text-align center
		img
			width 1.6rem	
	&-temp
		position relative
		margin .3rem 0
		line-height 1.2
		font-size 2rem
		.point
			position absolute
			top 0
			right -.3rem
			font-size 1rem
			line-height 1
	>div:last-child
		display flex
		width 3rem
	
	&-date
		margin-right auto

.future
	display flex
	padding .3rem 0
	border-top 1px solid #494d51
	overflow-x scroll
	&-item
		text-align center
		flex 1
		min-width 1.5rem
		line-height 1.2
		border-right 1px solid #494d51
		&:last-child
			border-right none
	img
		width .45rem